#nombre {
    background-color: rgb(60, 119, 119);
    
}

#perfil {
    background-color: rgb(89, 119, 60);
}

#estudios {
    background-color: rgb(119, 115, 60);
}

#experiencia {
    background-color: rgb(119, 87, 60);
}